### Task 1. Import the necessary libraries

In [ ]:
import numpy as np
import pandas as pd

### Task 2. Import the dataset from this [address](https://raw.githubusercontent.com/justmarkham/DAT8/master/data/chipotle.tsv).

In [ ]:
# Assign it to a variable with appropriate name
import pandas as pd
URL = 'https://raw.githubusercontent.com/justmarkham/DAT8/master/data/chipotle.tsv'
data = pd.read_csv(url)

### Task 3. Print the first 10 entries

In [ ]:
import pandas as pd


url = "https://raw.githubusercontent.com/justmarkham/DAT8/master/data/chipotle.tsv"

# Import dataset
chipotle_data = pd.read_csv(url, sep='\t')

# Print the first 10 entries
print(chipotle_data.head(10))

### Task 4. Print the number of observations in the dataset

In [ ]:
import pandas as pd

url = "https://raw.githubusercontent.com/justmarkham/DAT8/master/data/chipotle.tsv"

# Import dataset
chipotle_data = pd.read_csv(url, sep='\t')

num_observations = chipotle_data.shape[0]
print("Number of observations:", num_observations)

### Task 5. Print the number of columns per entry

In [ ]:
import pandas as pd


url = "https://raw.githubusercontent.com/justmarkham/DAT8/master/data/chipotle.tsv"

# Import dataset
chipotle_data = pd.read_csv(url, sep='\t')

# Number of columns
num_columns = chipotle_data.shape[1]
print("Number of columns per entry:", num_columns)

### Task 6. Which was the most ordered item

In [ ]:
# Note that just counting the number of times each item has occured in the table isn't
# enough because the quantity ordered isn't necessarily constant
import pandas as pd

url = "https://raw.githubusercontent.com/justmarkham/DAT8/master/data/chipotle.tsv"

chipotle_data = pd.read_csv(url, sep='\t')

# Group by item_name and sum the quantities
item_totals = chipotle_data.groupby('item_name')['quantity'].sum()

# Find the item with the highest total quantity
most_ordered_item = item_totals.idxmax()
max_quantity = item_totals.max()

print("Most ordered item:", most_ordered_item)
print("Total quantity ordered:", max_quantity)

### Task 7. How many times was the above item ordered? Also find the quantity ordered

In [ ]:
import pandas as pd

url = "https://raw.githubusercontent.com/justmarkham/DAT8/master/data/chipotle.tsv"

chipotle_data = pd.read_csv(url, sep='\t')

# Group by item_name and sum the quantities
item_totals = chipotle_data.groupby('item_name')['quantity'].sum()

# Most ordered item
most_ordered_item = item_totals.idxmax()
total_quantity = item_totals.max()

# Count how many times it was ordered (number of rows)
num_orders = chipotle_data[chipotle_data['item_name'] == most_ordered_item].shape[0]

print("Most ordered item:", most_ordered_item)
print("Number of times it was ordered:", num_orders)
print("Total quantity ordered:", total_quantity)

### Task 8. Observe the item price type. You might need values of this column for numerical calculations. Make any necessary adjustments to the column

In [ ]:
import pandas as pd


url = "https://raw.githubusercontent.com/justmarkham/DAT8/master/data/chipotle.tsv"

chipotle_data = pd.read_csv(url, sep='\t')

# Check the data type of item_price
print(chipotle_data['item_price'].dtype)
print(chipotle_data['item_price'].head())

# Remove the dollar sign and convert to float
chipotle_data['item_price'] = chipotle_data['item_price'].str.replace('$', '', regex=True).astype(float)

# Verify
print(chipotle_data['item_price'].dtype)
print(chipotle_data['item_price'].head())

### Task 9. How much was the revenue for the period in the dataset?

In [ ]:
import pandas as pd


url = "https://raw.githubusercontent.com/justmarkham/DAT8/master/data/chipotle.tsv"

chipotle_data = pd.read_csv(url, sep='\t')

# Convert item_price to numeric
chipotle_data['item_price'] = chipotle_data['item_price'].str.replace('$', '', regex=True).astype(float)

# Calculate revenue per order
chipotle_data['revenue'] = chipotle_data['quantity'] * chipotle_data['item_price']

# Total revenue for the period
total_revenue = chipotle_data['revenue'].sum()
print("Total revenue:", total_revenue)

### Task 10. How many orders were made in the period?

In [ ]:
import pandas as pd

url = "https://raw.githubusercontent.com/justmarkham/DAT8/master/data/chipotle.tsv"

chipotle_data = pd.read_csv(url, sep='\t')

# Number of unique orders
num_orders = chipotle_data['order_id'].nunique()
print("Total number of orders:", num_orders)

### Task 11. What is the average revenue amount per order?

In [ ]:
import pandas as pd

url = "https://raw.githubusercontent.com/justmarkham/DAT8/master/data/chipotle.tsv"

chipotle_data = pd.read_csv(url, sep='\t')

# Convert item_price to numeric
chipotle_data['item_price'] = chipotle_data['item_price'].str.replace('$', '', regex=True).astype(float)

# Calculate revenue per row
chipotle_data['revenue'] = chipotle_data['quantity'] * chipotle_data['item_price']

# Total revenue per order
revenue_per_order = chipotle_data.groupby('order_id')['revenue'].sum()

# Average revenue per order
average_revenue = revenue_per_order.mean()
print("Average revenue per order: ${:.2f}".format(average_revenue))

### Task 12. How many products cost more than $8.00

In [ ]:
import pandas as pd

url = "https://raw.githubusercontent.com/justmarkham/DAT8/master/data/chipotle.tsv"

chipotle_data = pd.read_csv(url, sep='\t')

# Convert item_price to numeric
chipotle_data['item_price'] = chipotle_data['item_price'].str.replace('$', '', regex=True).astype(float)

# Filter items with price > 8.00
expensive_items = chipotle_data[chipotle_data['item_price'] > 8.00]

# Count number of such products (rows)
num_expensive_items = expensive_items.shape[0]
print("Number of products costing more than $8.00:", num_expensive_items)

### Task 13. Print a data frame with only two columns item_name and item_price

In [ ]:
import pandas as pd

url = "https://raw.githubusercontent.com/justmarkham/DAT8/master/data/chipotle.tsv"

chipotle_data = pd.read_csv(url, sep='\t')

# Convert item_price to numeric
chipotle_data['item_price'] = chipotle_data['item_price'].str.replace('$', '', regex=True).astype(float)

# Create a new DataFrame with only item_name and item_price
item_price_df = chipotle_data[['item_name', 'item_price']]

# Print the new DataFrame
print(item_price_df.head(10))  # printing first 10 rows as example

### Task 14. Sort the dataframe by name of the item

In [ ]:
import pandas as pd

url = "https://raw.githubusercontent.com/justmarkham/DAT8/master/data/chipotle.tsv"


chipotle_data = pd.read_csv(url, sep='\t')

# Convert item_price to numeric
chipotle_data['item_price'] = chipotle_data['item_price'].str.replace('$', '', regex=True).astype(float)

# Create a DataFrame with only item_name and item_price
item_price_df = chipotle_data[['item_name', 'item_price']]

# Sort the DataFrame by item_name
sorted_df = item_price_df.sort_values(by='item_name')

# Print the first 10 rows to verify
print(sorted_df.head(10))

### Task 15. What was the quantity of the most expensive item ordered?

In [ ]:
import pandas as pd

url = "https://raw.githubusercontent.com/justmarkham/DAT8/master/data/chipotle.tsv"

chipotle_data = pd.read_csv(url, sep='\t')

# Convert item_price to numeric
chipotle_data['item_price'] = chipotle_data['item_price'].str.replace('$', '', regex=True).astype(float)

# Find the maximum item price
max_price = chipotle_data['item_price'].max()

# Filter rows with the most expensive item
most_expensive_items = chipotle_data[chipotle_data['item_price'] == max_price]

# Total quantity of the most expensive item ordered
total_quantity = most_expensive_items['quantity'].sum()

print("Most expensive item price: $", max_price)
print("Quantity of the most expensive item ordered:", total_quantity)

### Task 16. How many times did someone order more than one Canned Soda?

In [ ]:
import pandas as pd

url = "https://raw.githubusercontent.com/justmarkham/DAT8/master/data/chipotle.tsv"

chipotle_data = pd.read_csv(url, sep='\t')

# Filter for Canned Soda with quantity > 1
canned_soda_multiple = chipotle_data[
    (chipotle_data['item_name'] == 'Canned Soda') &
    (chipotle_data['quantity'] > 1)
]

# Count the number of such orders
num_orders = canned_soda_multiple.shape[0]
print("Number of times someone ordered more than one Canned Soda:", num_orders)

### Task 17. How many times was a Veggie Salad Bowl ordered?

In [ ]:
import pandas as pd

url = "https://raw.githubusercontent.com/justmarkham/DAT8/master/data/chipotle.tsv"

chipotle_data = pd.read_csv(url, sep='\t')

# Filter for Veggie Salad Bowl
veggie_salad_orders = chipotle_data[chipotle_data['item_name'] == 'Veggie Salad Bowl']

# Count number of times it was ordered
num_orders = veggie_salad_orders.shape[0]
print("Number of times Veggie Salad Bowl was ordered:", num_orders)

### Task 18. Set the values of the first 3 rows from quantity as NaN

In [ ]:
import pandas as pd
import numpy as np

url = "https://raw.githubusercontent.com/justmarkham/DAT8/master/data/chipotle.tsv"

chipotle_data = pd.read_csv(url, sep='\t')

# Set first 3 rows of 'quantity' to NaN
chipotle_data.loc[:2, 'quantity'] = np.nan

# Verify
print(chipotle_data.head(5))

### Task 19. Now set the value of the rows 3 and 4 of item_price as NaN

In [ ]:
import pandas as pd
import numpy as np

url = "https://raw.githubusercontent.com/justmarkham/DAT8/master/data/chipotle.tsv"

chipotle_data = pd.read_csv(url, sep='\t')

# Convert item_price to numeric first
chipotle_data['item_price'] = chipotle_data['item_price'].str.replace('$', '', regex=True).astype(float)

# Set rows 3 and 4 of 'item_price' to NaN
chipotle_data.loc[3:4, 'item_price'] = np.nan

# Verify
print(chipotle_data.loc[2:5, ['item_name', 'item_price']])

### Task 20. Fill the NaN's with 2 in column quantity and 7 in column item_price

In [ ]:
import pandas as pd
import numpy as np

url = "https://raw.githubusercontent.com/justmarkham/DAT8/master/data/chipotle.tsv"

chipotle_data = pd.read_csv(url, sep='\t')

# Convert item_price to numeric
chipotle_data['item_price'] = chipotle_data['item_price'].str.replace('$', '', regex=True).astype(float)

# Set first 3 rows of 'quantity' to NaN
chipotle_data.loc[:2, 'quantity'] = np.nan

# Set rows 3 and 4 of 'item_price' to NaN
chipotle_data.loc[3:4, 'item_price'] = np.nan

# Fill NaN values
chipotle_data['quantit]()_

### Task 21. Create an array of size 10 with random values from 0 to len(DataFrame)-1   (both inclusive). Ensure that all the values are unique

In [ ]:
import numpy as np
import pandas as pd

# Dataset URL
url = "https://raw.githubusercontent.com/justmarkham/DAT8/master/data/chipotle.tsv"
chipotle_data = pd.read_csv(url, sep='\t')

# Length of DataFrame
n = len(chipotle_data)

# Create an array of size 10 with unique random integers from 0 to n-1
random_indices = np.random.choice(n, size=10, replace=False)

print("Random unique indices:", random_indices)

### Task 22. Set all columns to NaN using the random numbers generated as indices

In [ ]:
import numpy as np
import pandas as pd

url = "https://raw.githubusercontent.com/justmarkham/DAT8/master/data/chipotle.tsv"
chipotle_data = pd.read_csv(url, sep='\t')

# Convert item_price to numeric
chipotle_data['item_price'] = chipotle_data['item_price'].str.replace('$', '', regex=True).astype(float)

# Length of DataFrame
n = len(chipotle_data)

# Create an array of size 10 with unique random indices
random_indices = np.random.choice(n, size=10, replace=False)

# Set all columns to NaN for the selected rows
chipotle_data.iloc[random_indices, :] = np.nan

# Verify by printing the rows
print(chipotle_data.iloc[random_indices])

### Task 23. How many missing values are there in total in this dataframe?

In [ ]:
import pandas as pd
import numpy as np

url = "https://raw.githubusercontent.com/justmarkham/DAT8/master/data/chipotle.tsv"
chipotle_data = pd.read_csv(url, sep='\t')

# Convert item_price to numeric
chipotle_data['item_price'] = chipotle_data['item_price'].str.replace('$', '', regex=True).astype(float)

# (Optional) Introduce some NaNs as before for demonstration
chipotle_data.loc[:2, 'quantity'] = np.nan
chipotle_data.loc[3:4, 'item_price'] = np.nan

# Total number of missing values in the DataFrame
total_missing = ch_

### Task 24. Delete the rows that contain missing values

In [ ]:
import pandas as pd
import numpy as np

url = "https://raw.githubusercontent.com/justmarkham/DAT8/master/data/chipotle.tsv"
chipotle_data = pd.read_csv(url, sep='\t')

# Convert item_price to numeric
chipotle_data['item_price'] = chipotle_data['item_price'].str.replace('$', '', regex=True).astype(float)

# (Optional) Introduce some NaNs for demonstration
chipotle_data.loc[:2, 'quantity'] = np.nan
chipotle_data.loc[3:4, 'item_price'] = np.nan

# Delete rows with any missing values
chipotle_data_clean = chipotle_data.dropna()

# Verify
print("Original shape:", chipotle_data.shape)
print("Shape after dropping rows with NaNs:", chipotle_data_clean.shape)

### Task 25.  Reset the index, so it starts with 0 again

In [ ]:
import pandas as pd
import numpy as np

url = "https://raw.githubusercontent.com/justmarkham/DAT8/master/data/chipotle.tsv"
chipotle_data = pd.read_csv(url, sep='\t')

# Convert item_price to numeric
chipotle_data['item_price'] = chipotle_data['item_price'].str.replace('$', '', regex=True).astype(float)

# Introduce some NaNs for demonstration
chipotle_data.loc[:2, 'quantity'] = np.nan
chipotle_data.loc[3:4, 'item_price'] = np.nan

# Delete rows with missing values
chipotle_data_clean = chipotle_data.dropna()

# Reset index
chipotle_data_clean.reset_index(drop=True, inplace=True)

# Verify
print(chipotle_data_clean.head())
print("New index range:", chipotle_data_clean.index)

### Task 26. Create a histogram of the top 5 items bought

In [ ]:
import pandas as pd
import matplotlib.pyplot as plt

url = "https://raw.githubusercontent.com/justmarkham/DAT8/master/data/chipotle.tsv"
chipotle_data = pd.read_csv(url, sep='\t')

# Convert item_price to numeric
chipotle_data['item_price'] = chipotle_data['item_price'].str.replace('$', '', regex=True).astype(float)

# Calculate total quantity per item
item_totals = chipotle_data.groupby('item_name')['quantity'].sum()

# Get top 5 items by quantity
top5_items = item_totals.sort_valu_

### Task 27. Create a scatterplot with the number of items ordered per order price

In [ ]:
import pandas as pd
import matplotlib.pyplot as plt

url = "https://raw.githubusercontent.com/justmarkham/DAT8/master/data/chipotle.tsv"
chipotle_data = pd.read_csv(url, sep='\t')

# Convert item_price to numeric
chipotle_data['item_price'] = chipotle_data['item_price'].str.replace('$', '', regex=True).astype(float)

# Calculate revenue per row
chipotle_data['revenue'] = chipotle_data['quantity'] * chipotle_data['item_price']

# Aggregate by order_id
order_summary = chipotle_data.groupby('order_id').agg({
    'quantity': 'sum',   # total number of items in the order
    'revenue': 'sum'     # total price of the order
}).reset_index()

# Create scatterplot
plt.figure(figsize=(8,6))
plt.scatter(order_summary['quantity'], order_summary['revenue'], color='green', alpha=0.6)
plt.xlabel('Number of Items Ordered')
plt.ylabel('Order Price ($)')
plt.title('Scatterplo